body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(Images/a.avif);
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    color: #800000;
}

input {
    border: 1px solid #007bff;
    outline: #007bff;
}

button:hover {
    background: #0056b3;
}

#weatherResult {
    margin-top: 20px;
}

#weatherIcon {
    width: 100px;
    height: 100px;
}

b {
    margin-right: 10px;
}

p {
    font-size: 20px;
}

h1:hover {
    color: gold;
}

@media only screen and (max-width: 1066px) {
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 1066px) {
    button{
        margin-top: 5%;
    }
}